/*
Alcuni margin sono in pixel per renderlo più simile possibile all'immagine data.
*/

html {
   font-family: monospace;
   font-size: 100%;
}

header {
    background-image: linear-gradient(to top left, purple, pink, yellow, pink);
    width: 100%;
    margin: 1px 0 5px;
    padding: 1% 0;
    border-bottom: 3px solid purple;
}

header > h1 {
    color: purple;
    text-align: right;    
}

section {
    float: right;
    width: 50%;
    margin: 15px 2% 15px 0;
}

section > p {
    text-align: left;
    color: black;
}

nav {
    float: left;
    width: 15%;
    margin: 5px 2% 0 1%;
    padding: 1% 2% 1% 1%;
    background-image: linear-gradient(to top left, purple, pink, yellow, pink);
    border-top: 3px solid purple;
    border-bottom: 3px solid purple;
}

nav:hover {
    background-image: linear-gradient(to top left, pink, yellow, pink, purple);
}

nav > ul {
    list-style: square;
    text-align: left;
    line-height: 200%;
}

nav > ul > li > a:hover {
    background-color: purple;
    color: white;
    font-weight: bold;
    padding: 1%;
}

aside {
    float: none;
    width: 20%;
    margin: 35px 30% 0 23%;
}

aside > p {
    color: purple;
}

footer {
    clear: both;
    background-image: linear-gradient(to top left, pink, yellow, pink, purple);
    border-top: 3px solid purple;
    width: 100%;
    box-sizing: border-box;
    padding: 1%;
}

footer > p {
    color: purple;
    text-align: center;
    font-size: 80%;
}

/*
La parte seguente l'ho aggiunta anche se non richiesta per rendere responsive il nav (altrimenti il testo al suo interno sarebbe uscito dal contenitore).
Anche qui i padding sono in pixel per rendere il tutto più agevole e fare in modo che il resizing avvenga meglio.
*/

/*
@media only screen and (max-width: 660px) {
    nav > ul {
        padding-left: 30px;
        line-height: 180%;
    }
    nav > ul > li {
        font-size: 80%;
    }
}

@media only screen and (max-width: 530px) {
    nav > ul {
        padding-left: 20px;
        line-height: 150%;
    }
    nav > ul > li {
        font-size: 70%;
    }
}
*/

/* 
Le media query sopra commentate funzionavano ma rendevano il testo più piccolo e magari non leggibile.
Ho quindi optato per questa opzione di rendere il nav sticky in cima alla pagina anche quando si scorre verticalmente.
*/

@media only screen and (max-width: 660px) {
    body {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-basis: 100%;
        flex: 1;
    }
    header {
        width: 100%;
    }
    nav {
        position: sticky;
        top: 10px;
        width: 95%;
        margin-right: 5px;
        box-shadow: 0 -10px 0 0 white;
    }
    aside {
        flex-basis: 30%;
        margin: 15px 6% 0 2%;
    }
    section {
        flex-basis: 60%;
    }
    footer,
    section {
        order: 1;
    }
}

/* 
Ho aggiunto un tag meta al file html per testare le media query anche in caso di risoluzione mobile.
*/

@media only screen and (max-width: 480px) {
    aside,
    section {
        flex-basis: 100%;
    }
    aside {
        margin-right: 2%;
    }
    section {
        margin-top: 0;
        margin-left: 2%;
    }
}