html {
	font-family: Arial, Helvetica, sans-serif;
	color: black;
}

h1 {
	background-color: pink;
	color: purple;
	font-size: 200%;
	text-align: center;
	border: 3px dashed purple;
	border-radius: 10px;
}

h2,
h3 {
	font-style: italic;
	color: purple;
	font-size: 160%;
	text-align: right;
	padding-right: 150px;
}

img {
	border: 5px dashed purple;
	box-shadow: 10px -10px 5px pink;
}
